<!-- Sidenav -->
<%- include('../partials/sidebar') %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <%- include('../partials/navbar') %>
      <!-- Header -->
      <%- include('../partials/headerWithCards') %>
        <!-- Page content -->
        <div class="container-fluid mt--7">
          <div class="row">
            <div class="col-xl-8 mb-5 mb-xl-0">
              <div class="card bg-gradient-default shadow">
                <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                    <div class="col">
                      <h6 class="text-uppercase text-light ls-1 mb-1">Simulation</h6>
                      <h2 class="text-white mb-0">Évolution de la simulation</h2>
                    </div>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal">
                      <i class="fas fa-play"></i> Lancer la simulation
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h3 class="modal-title" id="formModalLabel">Paramétrage simulation </h3>
                            <button id="dismissModal" type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal"
                              aria-label="Close"><i class="fas fa-times"></i></button>
                          </div>
                          <div class="modal-body p-5">
                            <form action="#" method="get" id="form_sim" onsubmit="return form_submit();">
                              <div class="row">
                                <h3>Paramètres de base:</h3>
                              </div>
                              <div class="row">
                                <div class="col-lg-6">
                                  <label for="width">Largeur de la simulation :</label>
                                  <input class="form-control" type="number"
                                    name="width" placeholder="Largeur de la simulation" />
                                    <label for="nbEntities">Population totale</label>
                                    <input class="form-control" type="number"
                                    name="nbEntities" placeholder="Population totale" />
                                  </div>
                                  <div class="col-lg-6">
                                    <label for="height">Hauteur de la simulation :</label>
                                    <input class="form-control" type="number"
                                      name="height" placeholder="Hauteur de la simulation" />
                                      <label for="nbSick">Population infectée</label>
                                    <input class="form-control" type="number"
                                      name="nbSick" placeholder="Population infectée" />
                                      <label for="maxDays">Durée de la simulation</label>
                                    <input class="form-control" type="number"
                                      name="maxDays" placeholder="Durée de la simulation (en jour)" />
                                    </div>
                              </div>
                              <hr>
                              <div class="row">
                                <h3>Réglages des taux :</h3>
                              </div>
                              <div class="row">
                                <div class="col-lg-6">
                                  <label for="probInf">Taux de contamination :</label>
                                  <input class="form-control" type="number" step="0.01"
                                    name="probInf" placeholder="Taux de contamination" />
                                    <label for="probDea">Taux de mortalité</label>
                                    <input class="form-control" type="number"  step="0.01"
                                    name="probDea" placeholder="Taux de mortalité" />
                                  </div>
                                  <div class="col-lg-6">
                                    <label for="probImm">Taux immunisé :</label>
                                    <input class="form-control" type="number" step="0.01"
                                      name="probImm" placeholder="Taux immunisé" />
                                    <label for="infRad">Distance de contamination :</label>
                                  <input class="form-control" type="number" step="0.01"
                                    name="infRad" placeholder="Distance de contamination" />
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <h3>Mesures sanitaires :</h3>
                              </div>
                              <div id="liste_mesure">
                              </div>
                              <div class="text-right">
                                <button type="button" class="btn btn-primary mt-2" onclick="ajouter_ligne()"><i class="fas fa-plus"></i></button>
                              </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary">Lancer la simulation</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="card-body">
                  <!-- Chart -->
                  <div class="chart">
                    <!-- Chart wrapper -->
                    <canvas id="chart-simulation" class="chart-canvas" style="max-height: 100%;"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <!-- Right panel -->
            <div class="col-xl-4">
              <div class="card shadow">
                <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                    <div class="col">
                      <h6 class="text-uppercase text-muted ls-1 mb-1">Simulation</h6>
                      <h2 class="mb-0">Caractéristiques de la simulation</h2>
                    </div>
                  </div>
                </div>
                <table class="table align-items-center table-flush">
                  <tbody>
                    <tr>
                      <th scope="row">
                        Largeur simulation
                      </th>
                      <td id="widthSimulation">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Hauteur de la simulation
                      </th>
                      <td id="heightSimulation">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Population totale
                      </th>
                      <td id="basicPopulation">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Population infectée
                      </th>
                      <td id="infectedPopulation">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Taux de contamination
                      </th>
                      <td id="contaminationRate">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Taux de mortalité
                      </th>
                      <td id="mortalityRate">
                      </td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
            
          <!-- Footer -->
          <%- include('../partials/footer') %>
        </div>
  </div>
  <!-- Include scripts -->
  <%- include('../partials/scripts') %>
    </body>